@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

#waybar {
  background: @bg;
  color: @fg;
  border-bottom: 1px solid @border;
  margin: 4px;
}

#workspaces {
  margin-left: 1rem;
  background-color: @module_bg;
}

#workspaces button {
  color: @accent1;
  padding: 0.5rem 0.75rem;
  background: transparent;
}

#workspaces button.active {
  color: @accent2;
  background: @module_bg;
  border-bottom: 1px solid @border;
}

#workspaces button:hover {
  color: @accent3;
}

#clock {
  color: @accent2;
  font-weight: bold;
  font-size: 15px;
  margin: 0 1rem;
}

#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#battery,
#tray,
#custom-power,
#language {
  background: @module_bg;
  padding: 0 0.8rem;
  margin: 2px 3px;
  border-radius: 6px;
}

#cpu { color: @cpu_color; }
#memory { color: @mem_color; }
#temperature { color: @temp_color; }
#backlight { color: @pulse_color; }
#network { color: @net_color; }
#pulseaudio { color: @pulse_color; }
#pulseaudio.muted { color: @muted_color; }
#battery { color: @batt_color; }
#battery.charging { color: @charge_color; }
#battery.warning:not(.charging) { color: @warn_color; }
#custom-power { color: @power_color; }
#language { color: @fg; }
